$color1: #eff0f3;
$color2: #DA2B2A;
$color3: #004674;
$color4: whitesmoke;
$color5: #02021a;

$text-header-h1: $color1;
$border-color-h1: $color2;
$text-link-color: $color1;
$text-light: $color1;
$footer-color: $color2;
