header {
    //z-index: 1;
    background: url("../img/start.jpg") (center / cover) no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    background-attachment: fixed; //sprawia, że obrazek nie przesuwa się razem ze stroną
    nav {
        position: absolute;
        width: 100%;
        padding: 1rem;
        background-image: url("../img/dott.png");

        ul {
            display: flex;
            justify-content: space-evenly;

            li {
                a {
                    position: relative;
                    display: block;
                    width: 100%;
                    padding: 1.6rem;
                    text-align: center;
                    font-size: 2.4rem;
                    letter-spacing: .5rem;
                    color: $text-link-color;
                    text-decoration: none;

                    &::before, &::after {
                        content: '';
                        display: block;
                        height: .2rem;
                        width: 100%;
                        background-color: #fff;
                        position: absolute;
                        bottom: 0;
                        left: 0;

                        // margin: 0 auto;
                        // left: 0;
                        // right: 0;
                   
                    }

                    &::after {
                        width: 0;
                        background-color: $border-color-h1;
                        transition: all .5s ease;
                    }

                    &:hover::after {
                        width: 100%;
                    }
                }
            }
        }
    }

    h1 {
        position: absolute;

        // margin: 0 auto;
        // left: 0;
        // right: 0;
        width: 60%;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 3.5rem;
        border: 0.4rem solid $border-color-h1;
        border-radius: .8rem;
        background-image: url(../img/dott.png);
        text-align: center;
        color: $text-header-h1;
        font-size: 6.5rem;
        letter-spacing: .5rem;
    }
}
